.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100vw;
    height: 100vh;
    background-color: #282c34;
    color: #61dafb;
}
.container>div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 10vh;
    background-color: rgba(97, 218, 251, 0.3);
    border-radius: 25px;
}