.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100vw;
    height: 100vh;
    background-color: #282c34;
    color: #61dafb;
}
.container>div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vw;
    height: 10vh;
    background-color: rgba(97, 218, 251, 0.3);
    border-radius: 25px;
}
.start_message{
    margin: 10vh 10px 0 10px;
    text-align: center;
    position: absolute;
    color: #61dafb;
}